<div
  *ngIf="pack"
  class="h-full"
  [title]="'Select songs from &quot;' + pack.title + '&quot;'"
>
  <input
    type="checkbox"
    class="hidden peer"
    [name]="pack.id"
    [id]="pack.id"
    [checked]="true"
  >

  <label
    class="block h-full cursor-pointer items-center overflow-clip rounded-lg bg-gray-100 shadow-lg transition-colors group hover:bg-gray-50 sm:grid grid-cols-[6rem_1fr]"
    [for]="pack.id"
    (click)="openSongSelection(pack)"
    (contextmenu)="toggleAllActive($event)"
  >
    <span
      class="block h-24 w-full bg-cover bg-center brightness-100 saturate-100 transition-all max-w-24 group-hover:brightness-125 group-hover:saturate-125 sm:w-24 sm:max-w-none"
      [style.background-image]="'url(' + pack.img + ')'"
    ></span>

    <div class="flex grow flex-col justify-between p-2 text-sm sm:h-24 sm:justify-around sm:pr-4">
      <p class="font-semibold text-primary-500">
        {{pack.title}}
      </p>

      <p
        class="mt-2 ml-auto text-accent-600 sm:mt-0"
        [title]="(active !== pack.songs.length ? 'Add' : 'Remove') + ' all ' + pack.songs.length + ' songs from &quot;' + pack.title + '&quot;'"
        (click)="toggleAllActive($event)"
      >
        <span class="font-bold text-accent-700">
          {{active}}/{{pack.songs.length}}
        </span> Songs
      </p>
    </div>
  </label>
</div>
