<article>
  <h2>Mode</h2>

  <ul
    class="flex items-center justify-around gap-2 text-center font-bold sm:gap-4"
  >
    <li
      class="w-full"
      *ngFor="let mode of Mode | keyvalue: originalOrder"
    >
      <input
        type="radio"
        name="mode"
        class="hidden peer"
        [value]="mode.value"
        [id]="mode.key"
        [checked]="mode.value === selected"
      >

      <label
        class="cursor-pointer drop-shadow-sm peer-checked:text-accent-800"
        [for]="mode.key"
      >
        {{mode.value}}
      </label>
    </li>
  </ul>
</article>
