<article
  class="p-4 relative flex items-center gap-2 sm:gap-4 rounded-3xl bg-gray-100 shadow transition-all text-primary-600 hover:bg-gray-50 hover:shadow-lg peer-focus:shadow-lg dark:hover:bg-black dark:text-primary-200 dark:bg-gray-900">
  <div>
    <span class="block h-20 w-20 cover-shadow">
      <span
        *ngIf="!song.img"
        class="absolute block p-5 bg-primary-300 rounded-xl z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3.75v16.5M2.25 12h19.5M6.375 17.25a4.875 4.875 0 004.875-4.875V12m6.375 5.25a4.875 4.875 0 01-4.875-4.875V12m-9 8.25h16.5a1.5 1.5 0 001.5-1.5V5.25a1.5 1.5 0 00-1.5-1.5H3.75a1.5 1.5 0 00-1.5 1.5v13.5a1.5 1.5 0 001.5 1.5zm12.621-9.44c-1.409 1.41-4.242 1.061-4.242 1.061s-.349-2.833 1.06-4.242a2.25 2.25 0 013.182 3.182zM10.773 7.63c1.409 1.409 1.06 4.242 1.06 4.242S9 12.22 7.592 10.811a2.25 2.25 0 113.182-3.182z" />
        </svg>
      </span>

      <img
        *ngIf="song.img"
        [src]="song.img"
        [alt]="song.pack"
        class="absolute block rounded-xl z-10" />
    </span>
  </div>

  <span class="divider"></span>

  <div
    class="ml-10 flex cursor-pointer items-center justify-center h-12 w-12 peer focus:ring-0 hover:drop-shadow-sm focus:drop-shadow-sm"
    tabindex="1"
    title="Draw a random song"
    (click)="selectRandomSong()"
    (keydown.space)="selectRandomSong($event)"
    (keydown.enter)="selectRandomSong($event)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="h-8 w-8">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
    </svg>
  </div>

  <div class="grow text-center">
    <p class="font-semibold">
      {{ song.title }}
    </p>

    <p class="text-accent-700 dark:text-accent-300">
      {{ song.pack }}
    </p>
  </div>
</article>
