<main
  class="flex flex-col items-center
    h-screen overflow-scroll p-8 space-y-4 sm:space-y-8
    scrollbar-thin scrollbar-thumb-primary-500 scrollbar-track-primary-200"
>
  <section>
    <h1 class="text-center font-mono text-5xl drop-shadow-2xl">Random<br>Saber</h1>
  </section>

  <section class="w-full">
    <!--div>
      <app-to-play></app-to-play>
    </div-->

    <div class="mx-auto max-w-screen-2xl">
      <app-music-packs></app-music-packs>
    </div>

    <!--div>
      <app-difficulty [selected]="difficulty"></app-difficulty>
    </div>

    <div>
      <app-mode [selected]="mode"></app-mode>
    </div-->
  </section>
</main>
