/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply accent-accent-500;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply select-none bg-gray-200 text-base text-primary-800 dark:text-gray-50 dark:bg-gray-800;
  }

  h2 {
    @apply mt-8 mb-2 text-2xl font-bold;
  }

  h3 {
    @apply mt-4 mb-2 text-lg font-semibold;
  }
}

@layer utilities {
  .cover-shadow {
    @apply relative
      after:content-['']
      after:block after:w-[110%] after:h-1.5 after:rounded-[50%]
      after:absolute after:bottom-0 after:translate-y-1/2 after:left-1/2 after:-translate-x-1/2
      after:bg-gray-600/50
    ;
  }

  .cover-shadow:after {
    box-shadow:
      0 0 3px 2px rgba(65, 65, 68, 0.3),
      0 0 9px 4px rgba(65, 65, 68, 0.3),
      0 0 12px 12px rgba(65, 65, 68, 0.1);
  }

  .divider {
    @apply block absolute h-[120%] ml-[5.5rem] w-10 bg-gray-200;
    clip-path: path("M 32 0 H 48 C 16 19.2 16 132 48 151.2 H 32 C 0 132 0 19.2 32 0");
  }
}
